# Environnements Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Notebooks checkpoints
.ipynb_checkpoints/

# Données volumineuses
data/
*.csv
*.tsv

# Modèles
*.h5
*.keras

*.h5
lstm_translator_main.h5
__pycache__/
*.ipynb_checkpoints